*{
    font-family: Century Gothic;
}


.navbar-nav a{
    font-size: 15px;
    font-weight: 700;
  }
   .navbar-light .navbar-brand{
    color: black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-brand:hover{
    color: black;
  }
  
  .navbar-light .navbar-nav .navbar-link{
    color: black;
  }
   .w-100{
    height: 100vh;
  }

  .box{
    position:center;
  }